<% @list_two.each do |row| %>
  <div class="card">
    <div class="card-body" align="center">
      <h5 class="card-title"><%= row['Party_name'] %></h5>
      <p class="card-text"><%= row['Description'] %></p>
      <a href="/event/<%= row['ID'] %>" class="btn btn-primary">Подробнее</a>
      <br/>
      <br/>
      <div class="flex">
        <small class="form-text text-muted"> Место встречи: <%= row['Location'] %> </small>
        <small class="form-text text-muted"> Дата публикации: <%= row['Created_Date'] %> </small>
      </div>
    </div>
  </div>
  <div class="card-header" align="center">
      Даты встречи: с <%= row['Date_Stamp_Start'] %> до <%= row['Date_Stamp_Finish'] %> 
  </div>
  <hr/>
  <br/>
  <hr/>
<% end %>
