<table class="table table-bordered">
  <% @list.each do |row| %>
    <thead class="thead-dark">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Имя и Фамилия</th>
        <th scope="col">Телефон</th>
        <th scope="col">Почта</th>
        <th scope="col">Описание</th>
        <th scope="col">Начало</th>
        <th scope="col">Окончание</th>
        <th scope="col">Кол-во гостей</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row"> <%= row['ID'] %> </th>
        <td><%= row['Name'] %></td>
        <td><%= row['Phone'] %></td>
        <td><%= row['Email'] %></td>
        <td><%= row['Description'] %></td>
        <td><%= row['Date_Stamp_Start'] %></td>
        <td><%= row['Date_Stamp_Finish'] %></td>
        <td><%= row['Guests'] %></td>
      </tr>
    </tbody>
  <% end %>
</table>